<div ng-controller="advanceCtrl as advance">
	<!-- <button class="btn btn-sm btn-danger" id="btn-help">Help</button> -->

	<div class="mb3 card">
		<div class="card-header-tab card-header" data-intro="Hello World! 👋">
			<div class="card-header-title font-size-lg text-capitalize font-weight-normal">
				<i class="header-icon fa fa-tachometer-alt "></i>
				<span id="tester"> Advance Request </span>
			</div>
		</div>
		<div style="width:100%" class="row widget-chart widget-chart2 border-primary">
			<div style="width:100%" ng-include src="'template/panel.html'" ></div>
		</div>
	</div>
</div>

<script>

	// $('#btn-help').click(function(){
	// 	introJs().setOptions({
	// 	tooltipClass: 'customTooltip',
	// 	showProgress: true,
	// 	steps: [{
	// 		title: 'Welcome',
	// 		intro: 'Hello World! 👋'
	// 	},
	// 	{
	// 		element: document.querySelector('input[dataintro]'),
	// 		intro: 'This step focuses on an image'
	// 	},
	// 	{
	// 		title: 'Farewell!',
	// 		element: document.querySelector('#tester'),
	// 		intro: 'And this is our final step!'
	// 	}
	// ]
	// 	}).start();
	// })
</script>
