<div  ng-controller="advexpensedetailCtrl as advanced">
  <div class='panel panel-default'>
    <div class='panel-heading'> <i class="fa fa-user fa-fw"></i> Detail Expense</div>
    <div class='panel-body' id="maincontainer">
		<div class="clearfix"></div><br>
		<form action="your-action" ng-submit="onFormSubmit($event)">
            <div class="widget-container">
                <div id="form" dx-form="detailFormOptions"></div>
            </div>
        </form>
		<input type="hidden" id="advformtype" value="1">

		<div data-options="dxTemplate: { name: 'content' }" ng-show="showHistory">
			<div id="detailEMP" dx-tab-panel="tabSettings">			
				<div data-options="dxTemplate: { name: 'tab1' }" style="padding:10px;">

				   <div dx-data-grid="grid1Options" style="min-height:400px;max-height:430px" dx-item-alias="row" >
				     <div data-options="dxTemplate:{ name: 'dropDownBoxEditorTemplate'}">
						 
						<div dx-drop-down-box="initDropDownBoxEditor(row)" dx-item-alias="item">
							<div data-options="dxTemplate:{ name: 'contentTemplate'}">
								<div dx-data-grid="initContent(row, item.component)"></div>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div data-options="dxTemplate: { name: 'tab5' }" style="padding:10px;">
					<div dx-data-grid="grid5Options" style="min-height:400px;max-height:430px" dx-item-alias="row" >
					  <div data-options="dxTemplate:{ name: 'dropDownBoxEditorTemplate'}">
						 <div dx-drop-down-box="initDropDownBoxEditor(row)" dx-item-alias="item">
							 <div data-options="dxTemplate:{ name: 'contentTemplate'}">
								 <div dx-data-grid="initContent(row, item.component)"></div>
							 </div>
						 </div>
					 </div>
					 </div>
				 </div>
				<div data-options="dxTemplate: { name: 'tab4' }" style="padding:10px;">
					<div dx-data-grid="grid4Options" style="min-height:400px;max-height:430px" dx-item-alias="row" >
					  <div data-options="dxTemplate:{ name: 'dropDownBoxEditorTemplate'}">
						 <div dx-drop-down-box="initDropDownBoxEditor(row)" dx-item-alias="item">
							 <div data-options="dxTemplate:{ name: 'contentTemplate'}">
								 <div dx-data-grid="initContent(row, item.component)"></div>
							 </div>
						 </div>
					 </div>
					 </div>
				 </div>
				<div data-options="dxTemplate: { name: 'tab2' }" style="padding:10px;">
				   <div dx-data-grid="grid2Options" style="min-height:400px;max-height:430px" dx-item-alias="rowx" >
				     <div data-options="dxTemplate:{ name: 'dropDownBoxEditorTemplatex'}">
						<div dx-drop-down-box="initDropDownBoxEditorx(rowx)" dx-item-alias="itemx">
							<div data-options="dxTemplate:{ name: 'contentTemplatex'}">
								<div dx-data-grid="initContentx(rowx, itemx.component)"></div>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div data-options="dxTemplate: { name: 'tab3' }" style="padding:10px;">
				   <div dx-data-grid="grid3Options" style="min-height:400px;max-height:430px"></div>
				</div>
			</div>
			<div style="z-index:1000" dx-load-panel="{ bindingOptions: { visible: 'loadPanelVisible' }, message: 'Loading...',showPane:true,shadingColor: 'rgba(0,0,0,0.4)', position: { of: '#detailEMP' }, shading: true}"></div>
		</div>
     <div ng-include src="'template/panel.html'"></div>
    </div>
  </div>
</div>