<div ng-controller="dashboardCtrl as dsb">
	<div class="tabs-animation">
		<div class="mb-3 card">
			<div class="card-header-tab card-header">
				<div class="card-header-title font-size-lg text-capitalize font-weight-normal">
					<i class="header-icon fa fa-tachometer-alt "></i>
					Dashboard
				</div>
				<div class="btn-actions-pane-right text-capitalize">
					<button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm"> X </button>
				</div>
			</div>
			<div class="row widget-chart widget-chart2 border-primary">				
				<div class="col-lg-6 col-xl-3 card mb-3 widget-chart widget-chart2 card-shadow-success border-success">
					<div class="card no-shadow rm-border bg-happy-itmeo widget-chart text-center card-btm-border card-shadow-success border-success" style="min-height:275px;">
						<div class="icon-wrapper rounded-circle">
							<div class="icon-wrapper-bg opacity-9 bg-alternate"></div>
							<i class="icon {{ (pendingDayoffReq >0  || pendingDayoff >0 )? 'icon-anim-pulse' : ''}} fas fa-file-signature text-white"></i></div>
						<div class="widget-chart-content">
							<div class="widget-heading text-alternate"><b>Weekend/PH Coverage</b></div>
							<button ng-click="dayoffApproval()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-alternate btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingDayoff>0 ? 'icon-anim-pulse' : ''}}  fa fa-marker"></i>
								</span>
								Pending Approval <span class="badge badge-pill badge-light {{ pendingDayoff>0 ? 'icon-anim-pulse' : ''}} text-dark" ng-bind="pendingDayoff"></span>
							</button>
							<button ng-click="myDayoff()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-alternate btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingDayoffReq>0 ? 'icon-anim-pulse' : ''}} fa fa-calendar-alt"></i>
								</span>
								Pending Request <span class="badge badge-pill badge-light {{ pendingDayoffReq>0 ? 'icon-anim-pulse' : ''}}  text-dark" ng-bind="pendingDayoffReq"></span>
							</button>
							
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-3 card mb-3 widget-chart widget-chart2 card-shadow-primary border-primary">
					<div class="card no-shadow rm-border bg-sunny-morning widget-chart text-center card-btm-border card-shadow-primary border-primary"  style="min-height:275px;">
						<div class="icon-wrapper rounded-circle">
							<div class="icon-wrapper-bg opacity-9 bg-danger"></div>
							<i class="icon {{ ( pendingSPKL >0  || pendingSPKLReq >0 || pendingSPKLTMS >0  || pendingSPKLTMSReq >0 )? 'icon-anim-pulse' : ''}} fas fa-file-signature text-white"></i></div>
						<div class="widget-chart-content">
							<div class="widget-heading text-danger"><b>SPKL/Overtime</b></div>
							<button ng-click="SPKLApproval()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-danger btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingSPKL >0 ? 'icon-anim-pulse' : ''}}  fa fa-marker"></i>
								</span>
								Pending SPKL Approval <span class="badge badge-pill badge-light {{ pendingSPKL >0 ? 'icon-anim-pulse' : ''}} text-dark" ng-bind="pendingSPKL"></span>
							</button>
							<button ng-click="mySPKL()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-danger btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingSPKLReq >0 ? 'icon-anim-pulse' : ''}} fa fa-calendar-alt"></i>
								</span>
								Pending SPKL Request <span class="badge badge-pill  {{ pendingSPKLReq >0 ? 'icon-anim-pulse' : ''}} badge-light text-dark" ng-bind="pendingSPKLReq"></span>
							</button>
							<button ng-click="SPKLTMSApproval()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-danger btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon  {{ pendingSPKLTMS >0 ? 'icon-anim-pulse' : ''}} fa fa-marker"></i>
								</span>
								Pending TS Approval <span class="badge badge-pill badge-light {{ pendingSPKLTMS >0 ? 'icon-anim-pulse' : ''}} text-dark" ng-bind="pendingSPKLTMS"></span>
							</button>
							<button ng-click="myTimesheet()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-danger btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingSPKLTMSReq >0 ? 'icon-anim-pulse' : ''}} fa fa-calendar-alt"></i>
								</span>
								Pending TS Request <span class="badge badge-pill {{ pendingSPKLTMSReq >0 ? 'icon-anim-pulse' : ''}}  badge-light text-dark" ng-bind="pendingSPKLTMSReq"></span>
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-3 card mb-3 widget-chart widget-chart2 card-shadow-primary border-primary">
					<div class="card no-shadow rm-border bg-arielle-smile widget-chart text-center card-btm-border card-shadow-primary border-primary"  style="min-height:275px;">
						<div class="icon-wrapper rounded-circle">
							<div class="icon-wrapper-bg opacity-9 bg-primary"></div>
							<i class="icon {{ (pendingTRReq >0  || pendingTR >0 )? 'icon-anim-pulse' : ''}}  fas fa-file-signature text-white"></i></div>
						<div class="widget-chart-content">
							<div class="widget-heading text-primary"><b>Travel Request</b></div>
							<button ng-click="TRApproval()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-primary btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingTR >0 ? 'icon-anim-pulse' : ''}}  fa fa-marker"></i>
								</span>
								Pending Approval <span class="badge badge-pill badge-light {{ pendingTR >0 ? 'icon-anim-pulse' : ''}} text-dark" ng-bind="pendingTR"></span>
							</button>
							<button ng-click="myTR()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-primary btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingTRReq >0 ? 'icon-anim-pulse' : ''}} fa fa-calendar-alt"></i>
								</span>
								Pending Request <span class="badge badge-pill badge-light {{ pendingTRReq >0 ? 'icon-anim-pulse' : ''}} text-dark" ng-bind="pendingTRReq"></span>
							</button>
							
						</div>
					</div>
				</div>
				
				<div class="col-lg-6 col-xl-3 card mb-3 widget-chart widget-chart2 card-shadow-success border-success">
					<div class="card no-shadow rm-border bg-plum-plate widget-chart text-center card-btm-border card-shadow-success border-success"  style="min-height:275px;">
						<div class="icon-wrapper rounded-circle">
							<div class="icon-wrapper-bg opacity-9 bg-warning"></div>
							<i class="icon {{ (pendingRFCReq >0  || pendingRFC >0 )? 'icon-anim-pulse' : ''}}  fas fa-file-signature"></i></div>
						<div class="widget-chart-content">
							<div class="widget-heading text-warning"><b>RFC </b></div>
							<button ng-click="RFCApproval()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-warning btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingRFC >0 ? 'icon-anim-pulse' : ''}} fa fa-marker"></i>
								</span>
								Pending Approval <span class="badge badge-pill badge-light {{ pendingRFC >0 ? 'icon-anim-pulse' : ''}} text-dark" ng-bind="pendingRFC"></span>
							</button>
							<button ng-click="myRFC()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-warning btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingRFCReq >0 ? 'icon-anim-pulse' : ''}} fa fa-calendar-alt"></i>
								</span>
								Pending Request <span class="badge badge-pill badge-light {{ pendingRFCReq >0 ? 'icon-anim-pulse' : ''}}  text-dark" ng-bind="pendingRFCReq"></span>
							</button>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-xl-3 card mb-3 widget-chart widget-chart2 card-shadow-success border-success">
					<div class="card no-shadow rm-border bg-deep-blue widget-chart text-center card-btm-border card-shadow-success border-success"  style="min-height:275px;">
						<div class="icon-wrapper rounded-circle">
							<div class="icon-wrapper-bg opacity-9 bg-primary"></div>
							<i class="icon text-white {{ (pendingMMFReq >0  || pendingMMF >0 || pendingMMF30 >0 || pendingMMF30Req >0 )? 'icon-anim-pulse' : ''}}  fas fa-file-signature"></i></div>
						<div class="widget-chart-content">
							<div class="widget-heading text-primary"><b>MMF </b></div>
							<button ng-click="mmfApproval()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-primary btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingmmf >0 ? 'icon-anim-pulse' : ''}} fa fa-marker"></i>
								</span>
								Pending MMF28 Approval <span class="badge badge-pill badge-light {{ pendingMMF28 >0 ? 'icon-anim-pulse' : ''}} text-dark" ng-bind="pendingMMF28"></span>
							</button>
							<button ng-click="myMMF()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-primary btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingMMF28Req >0 ? 'icon-anim-pulse' : ''}} fa fa-calendar-alt"></i>
								</span>
								Pending MMF28 Request <span class="badge badge-pill badge-light {{ pendingMMF28Req >0 ? 'icon-anim-pulse' : ''}}  text-dark" ng-bind="pendingMMF28Req"></span>
							</button>
							<button ng-click="mmf30Approval()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-primary btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingMMF30 >0 ? 'icon-anim-pulse' : ''}} fa fa-marker"></i>
								</span>
								Pending MMF30 Approval <span class="badge badge-pill badge-light {{ pendingMMF30 >0 ? 'icon-anim-pulse' : ''}} text-dark" ng-bind="pendingMMF30"></span>
							</button>
							<button ng-click="myMMF30()"  class="btn-pill btn-shadow btn-sm btn-block btn btn-primary btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon {{ pendingMMF30Req >0 ? 'icon-anim-pulse' : ''}} fa fa-calendar-alt"></i>
								</span>
								Pending MMF30 Request <span class="badge badge-pill badge-light {{ pendingMMF30Req >0 ? 'icon-anim-pulse' : ''}}  text-dark" ng-bind="pendingMMF30Req"></span>
							</button>
						</div>
					</div>
				</div>
				
			</div>
			<!--
			<div class="row widget-chart widget-chart2 border-primary">
				<div class="col-lg-6 col-xl-3 card mb-3 widget-chart widget-chart2 card-shadow-success border-success">
					<div class="card no-shadow rm-border bg-warm-flame widget-chart text-center card-btm-border card-shadow-success border-success">
						<div class="icon-wrapper rounded-circle">
							<div class="icon-wrapper-bg opacity-9 bg-alternate"></div>
							<i class="icon icon-anim-pulse fas fa-marker text-white"></i></div>
						<div class="widget-chart-content">
							<div class="widget-subheading">Pending RFC Approval</div>
							<div class="widget-numbers text-alternate"><span ng-bind="pendingRFC"></span></div>
							<button ng-click="RFCApproval()"  class="btn-pill btn-shadow btn-wide  btn btn-alternate btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon icon-anim-pulse fa fa-marker"></i>
								</span>
								<span class="mr-1" >Details</span>
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-3 card mb-3 widget-chart widget-chart2 card-shadow-primary border-primary">
					<div class="card no-shadow rm-border bg-primary widget-chart text-center card-btm-border card-shadow-primary border-primary">
						<div class="icon-wrapper rounded-circle">
							<div class="icon-wrapper-bg opacity-9 bg-warning"></div>
							<i class="icon icon-anim-pulse fas fa-calendar-alt text-primary"></i></div>
						<div class="widget-chart-content">
							<div class="widget-subheading text-white">Pending RFC Submission</div>
							<div class="widget-numbers text-warning"><span ng-bind="pendingRFCReq"></span></div>
							<button ng-click="myRFC()"  class="btn-pill btn-shadow btn-wide  btn btn-warning btn-lg">
								<span class="mr-2 opacity-7">
									<i class="icon icon-anim-pulse fa fa-calendar-alt "></i>
								</span>
								<span class="mr-1" >Details</span>
							</button>
						</div>
					</div>
				</div>
			</div>-->
			<div class="text-center d-block p-3 card-footer">
				<!--<button class="btn-pill btn-shadow btn-wide  btn btn-primary btn-lg">
					<span class="mr-2 opacity-7">
						<i class="icon icon-anim-pulse fa fa-dashboard"></i>
					</span>
					<span class="mr-1"></span>
				</button>-->
			</div>
		</div>
    </div>
</div>