Options +FollowSymlinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(ico|css|png|jpg|gif|js)$ [NC]
RewriteRule ^api/(.*)$ /dev/oasys/api.php?action=$1&$2 [QSA]